{{ define "body-class" }}template-categories{{ end }}

{{ define "main" }}
    {{- $taxonomy := $.Site.GetPage "taxonomyTerm" "categories" -}}
    {{- $terms := $taxonomy.Pages -}}

    <div>
        <h2 class="widget-title section-title">{{ T "widget.categoriesCloud.title" }}</h2>
        <section class="article-list">
            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                {{ $categoryPage := $.Site.GetPage (printf "/categories/%s" $name) }}
                <article class="article-list--compact has-border">
                    <a href="{{ "categories/" | relLangURL }}{{ $name | urlize }}">
                        {{ if $categoryPage.Params.image }}
                            <div class="article-image">
                                <img src="{{ $categoryPage.Params.image }}" alt="{{ $categoryPage.Title }}" />
                            </div>
                        {{ end }}
                        <div class="article-details">
                            <h2 class="article-title">
                                {{ if $categoryPage.Title }}
                                    {{ $categoryPage.Title }}
                                {{ else }}
                                    {{ $name }}
                                {{ end }}
                            </h2>
                            {{ if $categoryPage.Description }}
                                <h3 class="article-subtitle">
                                    {{ $categoryPage.Description }}
                                </h3>
                            {{ end }}
                            <footer class="article-time">
                                <div class="article-meta">
                                    {{ T "widget.articleCount" (dict "Count" (len $taxonomy)) }}
                                </div>
                            </footer>
                        </div>
                    </a>
                </article>
            {{ end }}
            
            <!-- Journal -->
            <article class="article-list--compact has-border">
                <a href="{{ "journal" | relLangURL }}">
                    <div class="article-details">
                        <h2 class="article-title">Journal</h2>
                        <h3 class="article-subtitle">一些雜七雜八的廢文。</h3>
                        <footer class="article-time">
                            <div class="article-meta">
                                {{ T "widget.articleCount" (dict "Count" (len (where .Site.RegularPages "Type" "eq" "journal"))) }}
                            </div>
                        </footer>
                    </div>
                </a>
            </article>
        </section>
    </div>

    <!-- Tag 標籤 -->
    <section class="widget tagCloud">
        <h2 class="widget-title section-title">{{ T "widget.tagCloud.title" }}</h2>
        <div class="tagCloud-tags">
            {{ range .Site.Taxonomies.tags.ByCount }}
                <a href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
                    {{ .Page.Title }}
                </a>
            {{ end }}
        </div>
    </section>

    {{ partialCached "footer/footer" . }}
{{ end }}