{{ define "main" }}
<section class="gallery-list">
    <h1 class="section-title">圖文</h1> 
    <div class="gallery-grid">
        {{ $galleryPages := where .Site.RegularPages "Params.gallery_dir" "!=" nil }}
        {{ $sortedPages := sort $galleryPages "Params.gallery_dir" "desc" }}
        {{ range $sortedPages }}
            {{ $dir := printf "%s" .Params.gallery_dir }}
            {{ $files := readDir (print "static/gallery/" $dir) }}
            {{ if gt (len $files) 0 }}
                {{ $firstImage := index $files 0 }}
                {{ $imageURL := printf "/gallery/%s/%s" $dir $firstImage.Name }}
                
                <div class="gallery-item">
                    <a href="{{ .RelPermalink }}" class="gallery-link">
                        <div class="gallery-image-container">
                            <img src="{{ $imageURL }}" alt="{{ .Title }}" class="gallery-image">
                        </div>
                    </a>
                </div>
            {{ end }}
        {{ end }}
    </div>
</section>

<style>
    .gallery-grid {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }
    
    .gallery-item {
        width: 33.333%;
        padding: 0 2px;
        margin-bottom: 4px;
        box-sizing: border-box;
    }
    
    .gallery-link {
        display: block;
        text-decoration: none;
        color: inherit;
        transition: opacity 0.1s;
    }
    
    .gallery-link:hover {
        opacity: 0.8;
    }
    
    .gallery-image-container {
        position: relative;
        padding-top: 125%; /* 高/寬 */
        overflow: hidden;
        background-color: #f5f5f5;
    }
    
    .gallery-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .gallery-title {
        margin-top: 8px;
        font-size: 16px;
        font-weight: 500;
        color: var(--card-text-color-main);
    }
    
    /* 響應式設計 */
    @media (max-width: 768px) {
        .gallery-item {
            /* width: 50%; */
        }

    }
    
    @media (max-width: 480px) {
    }
</style>
{{ end }}